
<%-include('partials/header')  %>
<%-include('partials/navbar')  %>
<style>
    .input-warning{
        outline: 1px solid red;
    }
    .input-good{
        outline: 1px solid green;
    }
</style>
<div id="mensajes" class=" w-1/2 text-center mx-auto">

</div>


<form method="post" action="" id="nueva-publicacion" class="mx-auto w-1/2 rounded m-5 p-5 bg-gray-700 text-gray-400 my-10">

    <input type="text" class="hidden" value="<%= publicacion.id %>" id="id_publicacion" name="id_publicacion">

    <div class="mb-6">
        <label for="autor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autor de la publicacion</label>
        <input type="text" id="autor" name="autor" value="<%= publicacion.autor %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: Leo">
        <h6 class="my-2 text-danger" id="error_autor"></h6>
    </div>

    <div class="mb-6">
        <label for="titulo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titulo de la publicacion</label>
        <input type="text" id="titulo" name="titulo" value="<%= publicacion.titulo %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: Comida africana">
        <h6 class="my-2 text-danger" id="error_titulo"></h6>
    </div>

    
    <div class="mb-6">
        <label for="detalle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalle de la publicacion</label>
        <input type="text" id="detalle" name="detalle" value="<%= publicacion.detalle %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: Esta comida esta rancia">
        <h6 class="my-2 text-danger" id="error_detalle"></h6>
    </div>

    <div class="mb-6">
        <label for="url_imagen" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL de la imagen</label>
        <input type="text" id="url_imagen" name="url_imagen" value="<%= publicacion.url_imagen %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: Esta comida esta rancia">
        <h6 class="my-2 text-danger" id="error_url_imagen"></h6>
    </div>

    <div class="mb-6">
        <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de la publicacion</label>
        <input type="date" id="fecha" name="fecha" value="<%= publicacion.fecha %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: Esta comida esta rancia">
        <h6 class="my-2 text-danger" id="error_fecha"></h6>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar publicacion</button>
</form>
<script src="/js/editar.js"></script>

<%-include('partials/footer')  %>